.results {
  display: grid;
  column-gap: 14px;
  row-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}
.checkbox-black .mat-checkbox-label {
  color: black;
}

.checkbox-black .mat-checkbox-background {
  background-color: white; /* Змініть фон за потребою */
}

